/*内容*/
.container {
  max-width: 800px;
  padding: 20px;
  line-height: 1.6;
}

/*内容ごとの見出し*/
.subtitle{
    /*max-width: 800px;*/
    font-size: 24px;
    font-weight: 500;
    /*padding: 15px 15px 0px 15px;上右下左*/
}

/*ページのタイトル*/
.pagetitle{
  margin-left: 10px;
  font-size: 32px;
  padding: 20px;
  text-decoration: none;
  font-weight:800
}

.imagediv{
  display: flex;
  align-items: flex-start;
}